body {
    background-color: #f4f7f6;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar.navbar-custom {
    background-color: #5a008a;          
    box-shadow: 0 4px 12px rgba(0,0,0,0.1); 
    border-bottom: 2px solid rgba(255,255,255,0.1);
}

.navbar-brand,
.nav-link {
    color: #ffffff;
    letter-spacing: 1.5px; 
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
}

.nav-link {
    font-size: 1rem;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* Fonte específica para os links */
}

/* Inverto o toggle preto em branco */
.navbar-toggler-icon {
    filter: invert(1); 
}

/* Ajusta a borda do toggle do botão para combinar */
.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
}

.navbar-collapse.show {
    background-color: #5a008a; 
    padding-bottom: 20px;
}

.main-content {
    margin-top: 50px;
    margin-bottom: 50px;
}

.content-section {
    min-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-login-container {
    margin-top: auto; 
    padding-top: 20px;
}

.auth-bg-image {
    background-image: url('https://picsum.photos/1200/900'); /* Caminho da sua imagem */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 550px; 
}

.auth-bg-image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); 
}

/* Container principal do footer */
footer {
    background-color: #1a1a1a;
    border-top: 3px solid #5a008a; 
}

/* Títulos das colunas */
footer h3,
footer h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}

/* Estilo geral dos links do footer */
footer a {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6); 
    text-decoration: none;
    transition: all 0.3s ease;
    display: inline-block; 
}

/* Efeito de Hover: cor brilha e o link "anda" para a direita */
footer a:hover {
    color: #ffffff;
    transform: translateX(5px);
}

/* Ícones de Redes Sociais (Efeito de pulsação) */
.social-icon i {
    color: #ffffff;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover i {
    color: #5a008a; 
    transform: scale(1.2) rotate(10deg); 
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
    object-fit: cover;
}