{% extends "layout.html" %}

{% block content %}
<div class="content-section">
    <div class="row m-0">
        <div class="col-lg-12 p-0">
            <div class="content-section shadow p-4 rounded bg-white">
                
                <div class="row align-items-center">
                    
                    <div class="col-auto">
                        <img class="rounded-circle account-img" src="{{ image_file }}" style="width: 125px; height: 125px; object-fit: cover;">
                    </div>

                    <div class="col">
                        <div class="media-body">
                            <h2 class="account-heading mb-0">{{ current_user.username }}</h2>
                            <p class="text-secondary mb-0">{{ current_user.email }}</p>
                        </div>
                    </div>

                </div>

                <form method="POST" action="" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group mb-auto">
                        <legend class="border-bottom mb-4">Informações da conta</legend>

                        <div class="form-group">
                            {{ form.username.label(class="form-control-label") }}

                            {% if form.username.errors %}
                                {{ form.username(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.username(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                            
                        <div class="form-group">
                            {{ form.email.label(class="form-control-label") }}

                            {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <div class="form-group mt-4">
                            {{ form.picture.label(class="form-control-label") }}

                            {% if form.picture.errors %}
                                {{ form.picture(class="form-control-file is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.picture.errors %}
                                        <span class="text-danger">{{ error }}</span></br>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.picture(class="form-control-file") }}
                            {% endif %}
                        </div>                        
                        
                    </fieldset>

                    <div class="form-group mt-3">
                        {{ form.submit(class="btn btn-primary") }}

                        <button type="button" class="btn btn-danger float-right" data-bs-toggle="modal" data-bs-target="#deleteAccountModal">
                            Deletar Conta
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title" id="deleteAccountModalLabel">Tem certeza?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
        <p class="text-danger fw-bold">Essa ação é irreversível.</p>
        <p>Ao clicar em deletar, sua conta e todos os seus produtos serão removidos permanentemente.</p>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        
        <form action="{{ url_for('users.delete_user', user_id=current_user.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Sim, Deletar Conta">
        </form>
      </div>
      
    </div>
  </div>
</div>
{% endblock content %}