{% extends "layout.html" %}

{% block content %}
    <h1>Home Page</h1>

    {% for product in products %}
        <article class="media content-section shadow p-3 mb-4 rounded bg-white">
            
            <img class="rounded-circle article-img", src="{{ url_for('static', filename='profile_pics/' + product.author.image_file) }}">
          
            <div class="media-body">
                <div class="article-metadata border-bottom mb-2 pb-1">
                    <a class="mr-2 text-dark font-weight-bold" href="#">{{ product.author.username }}</a>
                    <small class="text-muted">{{ product.time_created.strftime('%d/%m/%Y') }}</small>
                </div>

                <h2 class="h4 mt-2">{{ product.name }}</h2>
                <p class="text-success font-weight-bold mb-1">Preço: ${{ product.price }}</p>
                <p class="article-content text-justify">{{ product.description }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}