body {
    background-color: #f4f7f6;
    font-family: 'Segoe UI'
}

.navbar.navbar-custom {
    background-color: #5a008a;          
    box-shadow: 0 4px 12px rgba(0,0,0,0.1); 
    border-bottom: 2px solid rgba(255,255,255,0.1);
}

.navbar-brand {
    color: #ffffff;
    font-weight: 400;      
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1.5px; 
}

.nav-link {
    color: #ffffff;
    font-weight: 400;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1.5px; 
}